# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1='https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv'
cars1_df=pd.read_csv(cars1)
cars1_df.head(30)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500,NaN,NaN,NaN,NaN,NaN
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala,NaN,NaN,NaN,NaN,NaN
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii,NaN,NaN,NaN,NaN,NaN
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina,NaN,NaN,NaN,NaN,NaN
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl,NaN,NaN,NaN,NaN,NaN
10,15.0,8,383,170,3563,10.0,70,1,dodge challenger se,NaN,NaN,NaN,NaN,NaN
11,14.0,8,340,160,3609,8.0,70,1,plymouth 'cuda 340,NaN,NaN,NaN,NaN,NaN
12,15.0,8,400,150,3761,9.5,70,1,chevrolet monte carlo,NaN,NaN,NaN,NaN,NaN
13,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw),NaN,NaN,NaN,NaN,NaN
14,24.0,4,113,95,2372,15.0,70,3,toyota corona mark ii,NaN,NaN,NaN,NaN,NaN
15,22.0,6,198,95,2833,15.5,70,1,plymouth duster,NaN,NaN,NaN,NaN,NaN
16,18.0,6,199,97,2774,15.5,70,1,amc hornet,NaN,NaN,NaN,NaN,NaN
17,21.0,6,200,85,2587,16.0,70,1,ford maverick,NaN,NaN,NaN,NaN,NaN
18,27.0,4,97,88,2130,14.5,70,3,datsun pl510,NaN,NaN,NaN,NaN,NaN
19,26.0,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan,NaN,NaN,NaN,NaN,NaN
20,25.0,4,110,87,2672,17.5,70,2,peugeot 504,NaN,NaN,NaN,NaN,NaN
21,24.0,4,107,90,2430,14.5,70,2,audi 100 ls,NaN,NaN,NaN,NaN,NaN
22,25.0,4,104,95,2375,17.5,70,2,saab 99e,NaN,NaN,NaN,NaN,NaN
23,26.0,4,121,113,2234,12.5,70,2,bmw 2002,NaN,NaN,NaN,NaN,NaN
24,21.0,6,199,90,2648,15.0,70,1,amc gremlin,NaN,NaN,NaN,NaN,NaN
25,10.0,8,360,215,4615,14.0,70,1,ford f250,NaN,NaN,NaN,NaN,NaN
26,10.0,8,307,200,4376,15.0,70,1,chevy c20,NaN,NaN,NaN,NaN,NaN
27,11.0,8,318,210,4382,13.5,70,1,dodge d200,NaN,NaN,NaN,NaN,NaN
28,9.0,8,304,193,4732,18.5,70,1,hi 1200d,NaN,NaN,NaN,NaN,NaN
29,27.0,4,97,88,2130,14.5,71,3,datsun pl510,NaN,NaN,NaN,NaN,NaN

In [3]:
cars2='https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv'
cars2_df=pd.read_csv(cars2)
cars2_df.head(30)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l
5,29.5,4,97,71,1825,12.2,76,2,volkswagen rabbit
6,32.0,4,85,70,1990,17.0,76,3,datsun b-210
7,28.0,4,97,75,2155,16.4,76,3,toyota corolla
8,26.5,4,140,72,2565,13.6,76,1,ford pinto
9,20.0,4,130,102,3150,15.7,76,2,volvo 245
10,13.0,8,318,150,3940,13.2,76,1,plymouth volare premier v8
11,19.0,4,120,88,3270,21.9,76,2,peugeot 504
12,19.0,6,156,108,2930,15.5,76,3,toyota mark ii
13,16.5,6,168,120,3820,16.7,76,2,mercedes-benz 280s
14,16.5,8,350,180,4380,12.1,76,1,cadillac seville
15,13.0,8,350,145,4055,12.0,76,1,chevy c10
16,13.0,8,302,130,3870,15.0,76,1,ford f108
17,13.0,8,318,150,3755,14.0,76,1,dodge d100
18,31.5,4,98,68,2045,18.5,77,3,honda accord cvcc
19,30.0,4,111,80,2155,14.8,77,1,buick opel isuzu deluxe
20,36.0,4,79,58,1825,18.6,77,2,renault 5 gtl
21,25.5,4,122,96,2300,15.5,77,1,plymouth arrow gs
22,33.5,4,85,70,1945,16.8,77,3,datsun f-10 hatchback
23,17.5,8,305,145,3880,12.5,77,1,chevrolet caprice classic
24,17.0,8,260,110,4060,19.0,77,1,oldsmobile cutlass supreme
25,15.5,8,318,145,4140,13.7,77,1,dodge monaco brougham
26,15.0,8,302,130,4295,14.9,77,1,mercury cougar brougham
27,17.5,6,250,110,3520,16.4,77,1,chevrolet concours
28,20.5,6,231,105,3425,16.9,77,1,buick skylark
29,19.0,6,225,100,3630,17.7,77,1,plymouth volare custom

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [4]:
print("Original columns:\n", cars1_df.columns.tolist())

Original columns:
 ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model', 'origin', 'car', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13']

In [5]:
cars1_df = cars1_df.loc[:, ~cars1_df.columns.str.contains('Unnamed')]

print("\nColumns after removal:\n", cars1_df.columns.tolist())

Columns after removal:
 ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model', 'origin', 'car']

### Step 5. What is the number of observations in each dataset?

In [6]:
obs_cars1 = len(cars1_df)
obs_cars2 = len(cars2_df)

print(f"Number of observations in cars1: {obs_cars1}")
print(f"Number of observations in cars2: {obs_cars2}")

Number of observations in cars1: 198
Number of observations in cars2: 200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [7]:
print("cars1 columns:", cars1_df.columns.tolist())
print("cars2 columns:", cars2_df.columns.tolist())

assert all(cars1_df.columns == cars2_df.columns), "Columns do not match!"

cars1 columns: ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model', 'origin', 'car']
cars2 columns: ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model', 'origin', 'car']

In [8]:
cars_df = pd.concat([cars1_df, cars2_df], axis=0, ignore_index=True)
cars_df.head(30)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383,170,3563,10.0,70,1,dodge challenger se
11,14.0,8,340,160,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400,150,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199,97,2774,15.5,70,1,amc hornet
17,21.0,6,200,85,2587,16.0,70,1,ford maverick
18,27.0,4,97,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110,87,2672,17.5,70,2,peugeot 504
21,24.0,4,107,90,2430,14.5,70,2,audi 100 ls
22,25.0,4,104,95,2375,17.5,70,2,saab 99e
23,26.0,4,121,113,2234,12.5,70,2,bmw 2002
24,21.0,6,199,90,2648,15.0,70,1,amc gremlin
25,10.0,8,360,215,4615,14.0,70,1,ford f250
26,10.0,8,307,200,4376,15.0,70,1,chevy c20
27,11.0,8,318,210,4382,13.5,70,1,dodge d200
28,9.0,8,304,193,4732,18.5,70,1,hi 1200d
29,27.0,4,97,88,2130,14.5,71,3,datsun pl510

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [9]:
num_cars = len(cars_df)
owners_random = np.random.randint(15000, 73001, size=num_cars)
cars_df['owners'] = owners_random
cars_df[['car', 'owners']].head(30)

                             car  owners
0      chevrolet chevelle malibu   30420
1              buick skylark 320   47265
2             plymouth satellite   70249
3                  amc rebel sst   22710
4                    ford torino   51257
5               ford galaxie 500   17364
6               chevrolet impala   29758
7              plymouth fury iii   45688
8               pontiac catalina   62823
9             amc ambassador dpl   40211
10           dodge challenger se   31549
11            plymouth 'cuda 340   54254
12         chevrolet monte carlo   72533
13       buick estate wagon (sw)   63401
14         toyota corona mark ii   39575
15               plymouth duster   27154
16                    amc hornet   67284
17                 ford maverick   29450
18                  datsun pl510   71084
19  volkswagen 1131 deluxe sedan   52309
20                   peugeot 504   27332
21                   audi 100 ls   20923
22                      saab 99e   35836
23                      bmw 2002   23002
24                   amc gremlin   19036
25                     ford f250   34345
26                     chevy c20   37999
27                    dodge d200   47839
28                      hi 1200d   68915
29                  datsun pl510   65584

### Step 8. Add the column owners to cars

In [10]:
cars_df['owners'] = owners_random
cars_df.head(30)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,30420
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,47265
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,70249
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,22710
4,17.0,8,302,140,3449,10.5,70,1,ford torino,51257
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500,17364
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala,29758
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii,45688
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina,62823
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl,40211
10,15.0,8,383,170,3563,10.0,70,1,dodge challenger se,31549
11,14.0,8,340,160,3609,8.0,70,1,plymouth 'cuda 340,54254
12,15.0,8,400,150,3761,9.5,70,1,chevrolet monte carlo,72533
13,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw),63401
14,24.0,4,113,95,2372,15.0,70,3,toyota corona mark ii,39575
15,22.0,6,198,95,2833,15.5,70,1,plymouth duster,27154
16,18.0,6,199,97,2774,15.5,70,1,amc hornet,67284
17,21.0,6,200,85,2587,16.0,70,1,ford maverick,29450
18,27.0,4,97,88,2130,14.5,70,3,datsun pl510,71084
19,26.0,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan,52309
20,25.0,4,110,87,2672,17.5,70,2,peugeot 504,27332
21,24.0,4,107,90,2430,14.5,70,2,audi 100 ls,20923
22,25.0,4,104,95,2375,17.5,70,2,saab 99e,35836
23,26.0,4,121,113,2234,12.5,70,2,bmw 2002,23002
24,21.0,6,199,90,2648,15.0,70,1,amc gremlin,19036
25,10.0,8,360,215,4615,14.0,70,1,ford f250,34345
26,10.0,8,307,200,4376,15.0,70,1,chevy c20,37999
27,11.0,8,318,210,4382,13.5,70,1,dodge d200,47839
28,9.0,8,304,193,4732,18.5,70,1,hi 1200d,68915
29,27.0,4,97,88,2130,14.5,71,3,datsun pl510,65584